	
        <style>
        


       .hi-slide {
            width: ;
            height: ;
            border-radius: ;
            position: relative;
            margin-top: 50px;
            margin-left: -50px;
        }

        .hi-slide .hi-next,
        .hi-slide .hi-prev {
            position: absolute;
            top: 50%;
            width: 40px;
            height: 40px;
            margin-top: -20px;
            margin-left: -90px;
            border-radius: 50px;
            line-height: 40px;
            text-align: center;
            cursor: pointer;
            background-color: white;
            color: black;
            transition: all 0.7s;
            font-size: 20px;
            font-weight: bold;
        }



        .hi-slide .hi-next:hover,
        .hi-slide .hi-prev:hover {
            opacity: 1;
            background-color: white;
        }

        .hi-slide .hi-prev{ left: 59px;}

        .hi-slide .hi-prev::before{
        	content: '<';
        }

        .hi-slide .hi-next{right: -80px;}

        .hi-slide .hi-next::before{
        	content: '>';
        }

        .hi-slide > ul{
        	list-style: none;
        	position: relative;
        	width: 600px;
        	height: 292px;
        	margin: 0;
        	padding: 0;
        }

        .hi-slide > ul > li{
        	overflow: hidden;
        	position: absolute;
        	z-index: 0;
        	left: 377px;
        	top: 147px;
        	width: 0;
        	height: 0;
        	margin: 0;
        	padding: 0;
        	border: 3px solid white;
        	cursor: pointer;
        	background-color: #333;

        }

        .hi-slide > ul > li > img{
        	width: 100%;
        	height: 100%;
        	background-position: center;
        }












        .hi-slide1 {
            width: ;
            height: ;
            border-radius: ;
            position: relative;
            margin-top: 50px;
            margin-left: -50px;
        }

        .hi-slide1 .hi-next1,
        .hi-slide1 .hi-prev1 {
            position: absolute;
            top: 50%;
            width: 40px;
            height: 40px;
            margin-top: -20px;
            margin-left: -90px;
            border-radius: 50px;
            line-height: 40px;
            text-align: center;
            cursor: pointer;
            background-color: white;
            color: black;
            transition: all 0.7s;
            font-size: 20px;
            font-weight: bold;
        }



        .hi-slide1 .hi-next1:hover,
        .hi-slide1 .hi-prev1:hover {
            opacity: 1;
            background-color: white;
        }

        .hi-slide1 .hi-prev1{ left: 59px;}

        .hi-slide1 .hi-prev1::before{
        	content: '<';
        }

        .hi-slide1 .hi-next1{right: -80px;}

        .hi-slide1 .hi-next1::before{
        	content: '>';
        }

        .hi-slide1 > ul{
        	list-style: none;
        	position: relative;
        	width: 600px;
        	height: 292px;
        	margin: 0;
        	padding: 0;
        }

        .hi-slide1 > ul > li{
        	overflow: hidden;
        	position: absolute;
        	z-index: 0;
        	left: 377px;
        	top: 147px;
        	width: 0;
        	height: 0;
        	margin: 0;
        	padding: 0;
        	border: 3px solid white;
        	cursor: pointer;
        	background-color: #333;

        }

        .hi-slide1 > ul > li > img{
        	width: 100%;
        	height: 100%;
        	background-position: center;
        }







        .hi-slide2 {
            width: ;
            height: ;
            border-radius: ;
            position: relative;
            margin-top: 50px;
            margin-left: -50px;
        }

        .hi-slide2 .hi-next2,
        .hi-slide2 .hi-prev2 {
            position: absolute;
            top: 50%;
            width: 40px;
            height: 40px;
            margin-top: -20px;
            margin-left: -90px;
            border-radius: 50px;
            line-height: 40px;
            text-align: center;
            cursor: pointer;
            background-color: white;
            color: black;
            transition: all 0.7s;
            font-size: 20px;
            font-weight: bold;
        }



        .hi-slide2 .hi-next2:hover,
        .hi-slide2 .hi-prev2:hover {
            opacity: 1;
            background-color: white;
        }

        .hi-slide2 .hi-prev2{ left: 59px;}

        .hi-slide2 .hi-prev2::before{
        	content: '<';
        }

        .hi-slide2 .hi-next2{right: -80px;}

        .hi-slide2 .hi-next2::before{
        	content: '>';
        }

        .hi-slide2 > ul{
        	list-style: none;
        	position: relative;
        	width: 600px;
        	height: 292px;
        	margin: 0;
        	padding: 0;
        }

        .hi-slide2 > ul > li{
        	overflow: hidden;
        	position: absolute;
        	z-index: 0;
        	left: 377px;
        	top: 147px;
        	width: 0;
        	height: 0;
        	margin: 0;
        	padding: 0;
        	border: 3px solid white;
        	cursor: pointer;
        	background-color: #333;

        }

        .hi-slide2 > ul > li > img{
        	width: 100%;
        	height: 100%;
        	background-position: center;
        }








        .hi-slide3 {
            width: ;
            height: ;
            border-radius: ;
            position: relative;
            margin-top: 50px;
            margin-left: -50px;
        }

        .hi-slide3 .hi-next3,
        .hi-slide3 .hi-prev3 {
            position: absolute;
            top: 50%;
            width: 40px;
            height: 40px;
            margin-top: -20px;
            margin-left: -90px;
            border-radius: 50px;
            line-height: 40px;
            text-align: center;
            cursor: pointer;
            background-color: white;
            color: black;
            transition: all 0.7s;
            font-size: 20px;
            font-weight: bold;
        }



        .hi-slide3 .hi-next3:hover,
        .hi-slide3 .hi-prev3:hover {
            opacity: 1;
            background-color: white;
        }

        .hi-slide3 .hi-prev3{ left: 59px;}

        .hi-slide3 .hi-prev3::before{
        	content: '<';
        }

        .hi-slide3 .hi-next3{right: -80px;}

        .hi-slide3 .hi-next3::before{
        	content: '>';
        }

        .hi-slide3 > ul{
        	list-style: none;
        	position: relative;
        	width: 600px;
        	height: 292px;
        	margin: 0;
        	padding: 0;
        }

        .hi-slide3 > ul > li{
        	overflow: hidden;
        	position: absolute;
        	z-index: 0;
        	left: 377px;
        	top: 147px;
        	width: 0;
        	height: 0;
        	margin: 0;
        	padding: 0;
        	border: 3px solid white;
        	cursor: pointer;
        	background-color: #333;

        }

        .hi-slide3 > ul > li > img{
        	width: 100%;
        	height: 100%;
        	background-position: center;
        }
        







        .hi-slide4 {
            width: ;
            height: ;
            border-radius: ;
            position: relative;
            margin-top: 50px;
            margin-left: -50px;
        }

        .hi-slide4 .hi-next4,
        .hi-slide4 .hi-prev4 {
            position: absolute;
            top: 50%;
            width: 40px;
            height: 40px;
            margin-top: -20px;
            margin-left: -90px;
            border-radius: 50px;
            line-height: 40px;
            text-align: center;
            cursor: pointer;
            background-color: white;
            color: black;
            transition: all 0.7s;
            font-size: 20px;
            font-weight: bold;
        }



        .hi-slide4 .hi-next4:hover,
        .hi-slide4 .hi-prev4:hover {
            opacity: 1;
            background-color: white;
        }

        .hi-slide4 .hi-prev4{ left: 59px;}

        .hi-slide4 .hi-prev4::before{
        	content: '<';
        }

        .hi-slide4 .hi-next4{right: -80px;}

        .hi-slide4 .hi-next4::before{
        	content: '>';
        }

        .hi-slide4 > ul{
        	list-style: none;
        	position: relative;
        	width: 600px;
        	height: 292px;
        	margin: 0;
        	padding: 0;
        }

        .hi-slide4 > ul > li{
        	overflow: hidden;
        	position: absolute;
        	z-index: 0;
        	left: 377px;
        	top: 147px;
        	width: 0;
        	height: 0;
        	margin: 0;
        	padding: 0;
        	border: 3px solid white;
        	cursor: pointer;
        	background-color: #333;

        }

        .hi-slide4 > ul > li > img{
        	width: 100%;
        	height: 100%;
        	background-position: center;
        }





		.hi-slidep {
            width: 600px;
            height: 300px;
            border-radius: 10px;
            position: relative;
            margin-top: 50px;
            margin-left: -50px;
        }

        .hi-slidep .hi-nextp,
        .hi-slidep .hi-prevp {
            position: absolute;
            top: 50%;
            width: 40px;
            height: 40px;
            margin-top: -20px;
            margin-left: -90px;
            border-radius: 50px;
            line-height: 40px;
            text-align: center;
            cursor: pointer;
            background-color: white;
            color: black;
            transition: all 0.7s;
            font-size: 20px;
            font-weight: bold;
        }



        .hi-slidep .hi-nextp:hover,
        .hi-slidep .hi-prevp:hover {
            opacity: 1;
            background-color: white;
        }

        .hi-slidep .hi-prevp{ left: 59px;}

        .hi-slidep .hi-prevp::before{
        	content: '<';
        }

        .hi-slidep .hi-nextp{right: -200px;}

        .hi-slidep .hi-nextp::before{
        	content: '>';
        }

        .hi-slidep > ul{
        	list-style: none;
        	position: relative;
        	width: 600px;
        	height: 300px;
        	margin: 0;
        	padding: 0;
        }

        .hi-slidep > ul > li{
        	overflow: hidden;
        	position: absolute;
        	z-index: 0;
        	left: 377px;
        	top: 147px;
        	width: 600px;
        	height: 300px;
        	margin: 0;
        	padding: 0;
        	border: 3px solid white;
        	cursor: pointer;
        	background-color: #333;

        }

        .hi-slidep > ul > li > img{
        	width: 100%;
        	height: 100%;
        	background-position: center;
        }



        .hi-slide5 {
            width: ;
            height: ;
            border-radius: ;
            position: relative;
            margin-top: 50px;
            margin-left: -50px;
        }

        .hi-slide5 .hi-next4,
        .hi-slide5 .hi-prev4 {
            position: absolute;
            top: 50%;
            width: 40px;
            height: 40px;
            margin-top: -20px;
            margin-left: -90px;
            border-radius: 50px;
            line-height: 40px;
            text-align: center;
            cursor: pointer;
            background-color: white;
            color: black;
            transition: all 0.7s;
            font-size: 20px;
            font-weight: bold;
        }



        .hi-slide5 .hi-next4:hover,
        .hi-slide5 .hi-prev4:hover {
            opacity: 1;
            background-color: white;
        }

        .hi-slide5 .hi-prev4{ left: 59px;}

        .hi-slide5 .hi-prev4::before{
        	content: '<';
        }

        .hi-slide5 .hi-next4{right: -80px;}

        .hi-slide5 .hi-next4::before{
        	content: '>';
        }

        .hi-slide5 > ul{
        	list-style: none;
        	position: relative;
        	width: 600px;
        	height: 292px;
        	margin: 0;
        	padding: 0;
        }

        .hi-slide5 > ul > li{
        	overflow: hidden;
        	position: absolute;
        	z-index: 0;
        	left: 377px;
        	top: 147px;
        	width: 0;
        	height: 0;
        	margin: 0;
        	padding: 0;
        	border: 3px solid white;
        	cursor: pointer;
        	background-color: #333;

        }

        .hi-slide5 > ul > li > img{
        	width: 100%;
        	height: 100%;
        	background-position: center;
        }





        .hi-slidem {
            width: 600px;
            height: 300px;
            border-radius: 10px;
            position: relative;
            margin-top: 50px;
            margin-left: -50px;
        }

        .hi-slidem .hi-nextm,
        .hi-slidem .hi-prevm {
            position: absolute;
            top: 50%;
            width: 40px;
            height: 40px;
            margin-top: -20px;
            margin-left: -90px;
            border-radius: 50px;
            line-height: 40px;
            text-align: center;
            cursor: pointer;
            background-color: white;
            color: black;
            transition: all 0.7s;
            font-size: 20px;
            font-weight: bold;
        }



        .hi-slidem .hi-nextm:hover,
        .hi-slidem .hi-prevm:hover {
            opacity: 1;
            background-color: white;
        }

        .hi-slidem .hi-prevm{ left: 59px;}

        .hi-slidem .hi-prevm::before{
        	content: '<';
        }

        .hi-slidem .hi-nextm{right: -200px;}

        .hi-slidem .hi-nextm::before{
        	content: '>';
        }

        .hi-slidem > ul{
        	list-style: none;
        	position: relative;
        	width: 600px;
        	height: 300px;
        	margin: 0;
        	padding: 0;
        }

        .hi-slidem > ul > li{
        	overflow: hidden;
        	position: absolute;
        	z-index: 0;
        	left: 377px;
        	top: 147px;
        	width: 600px;
        	height: 300px;
        	margin: 0;
        	padding: 0;
        	border: 3px solid white;
        	cursor: pointer;
        	background-color: #333;

        }

        .hi-slidem > ul > li > img{
        	width: 100%;
        	height: 100%;
        	background-position: center;
        }

       </style>





















	<section id="brand" class="brand">
		<div class="container">
        	<div class="row my-1" style="margin-left: 20% ;margin-right: 20%;text-align: center;">
            	<div class="col-sm-12 offset-sm-3">
                <div class="section-header">
					<h2>Dèrniers évènements</h2>
					<br /> <br /> <br />
				</div>

                <h3 >COMPTE RENDU DE L'ASSEMBLEE GENERALE DU 04/05/2024 DE L'association Zen ya Zok (ZZ)</h3>
                <hr>
                <p>
						ASSOCIATION ZEN YA ZOK 
				Adresse du Siège social : Quartier Mimbang Essandone 
				Tel : +24177533030/+24162187405
				Le quorum étant atteint l'assemblée générale a pu valablement délibérer à 80%.
				Le Samedi 04 Mai 2024, à Libreville, les membres de l'association Zen ya Zok (ZZ) se sont réunis à la Terrasse d'Alexandrine (Ancien Delta) en Assemblée générale ordinaire sur convocation du bureau datée du 24 Mars 2024. 
  
				</p>  
            	</div>
                	<div class="col-sm-12">
                		<div class="slide hi-slide">
                			<div class="hi-prev"></div>
                			<div class="hi-next"></div>
						  <ul>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev1.jpg' %}" alt="premier slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev2.jpg' %}" alt="deuxieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev3.jpg' %}" alt="troisieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev4.jpg' %}" alt="quatrieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev5.jpg' %}" alt="cinquieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev6.jpg' %}" alt="sisieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev7.jpg' %}" alt="septieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev8.jpg' %}" alt="huitieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev9.jpg' %}" alt="neuvieme slide"></li>
						  </ul>


						  
						</div>
					</div>
				</div>
				<br /> <br /> 
            </div>
        </div>








        <div class="container">
        	<div class="row my-1" style="margin-left: 20% ;margin-right: 20%;text-align: center;">
            	<div class="col-sm-12 offset-sm-3">
                <div class="section-header">
					
					<br /> <br /> <br />
				</div>

                <h3 >FILS DE ZOK de la semaine :8 avril 2024</h3>
                <hr>
                <p>
						
MEBA ONDO Kévin Igor
Secrétaire Général de l'association ZZ 
Né le 14 Juin 1982 à Bitam, MEBA ONDO Kévin Igor est fiancé et père de 4 enfants. 
Homme de culture prônant la Restauration identitaire et le retour aux sources.
- Président de l'ONG ARINA INTERNATIONAL 
- Membre Fondateur de l'association Zen ya Zok (ZZ)
- Membre actif de l'organisation Kémits du Gabon.
Il est philanthrope, aimant, fédérateur et répond d'un grand humour dans le vivre ensemble.
  
				</p>  
            	</div>
                	<div class="col-sm-12">
                		<div class="slide1 hi-slide1">
                			<div class="hi-prev1"></div>
                			<div class="hi-next1"></div>
						  <ul>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev11.jpg' %}" alt=""></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev12.jpg' %}" alt=""></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev13.jpg' %}" alt=""></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev14.jpg' %}" alt=""></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev15.jpg' %}" alt=""></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev16.jpg' %}" alt=""></li>
						  </ul>


						  
						</div>
					</div>
				</div>
				<br /> <br /> 
            </div>
        </div>





        <div class="container">
        	<div class="row my-1" style="margin-left: 20% ;margin-right: 20%;text-align: center;">
            	<div class="col-sm-12 offset-sm-3">
                <div class="section-header">
					
					<br /> <br /> <br />
				</div>

                <h3 >FILS DE ZOK de la semaine :25 mars 2024</h3>
                <hr>
                <p>
						MEWOUROU CARTHAGE Steeve
Trésorier Général de l'association ZZ
Titulaire d'un Master en Business d'Administration (MBA), MEWOUROU CARTHAGE Steeve a fait ses études primaires à l'école Catholique de Mimbang Essandone, et ses études secondaires au Collège Jésus Marie de Bitam.
  
				</p>  
            	</div>
                	<div class="col-sm-12">
                		<div class="slide2 hi-slide2">
                			<div class="hi-prev2"></div>
                			<div class="hi-next2"></div>
						  <ul>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev17.jpg' %}" alt=""></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev18.jpg' %}" alt=""></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev19.jpg' %}" alt=""></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev20.jpg' %}" alt=""></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev21.jpg' %}" alt=""></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev22.jpg' %}" alt=""></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev23.jpg' %}" alt=""></li>
						    
						  </ul>


						  
						</div>
					</div>
				</div>
				<br /> <br /> 
            </div>
        </div>






        <div class="container">
        	<div class="row my-1" style="margin-left: 20% ;margin-right: 20%;text-align: center;">
            	<div class="col-sm-12 offset-sm-3">
                <div class="section-header">
					
					<br /> <br /> <br />
				</div>

                <h3 >ASSOCIATION ZEN YA ZOK (ZZ)🐘 🆁︎🅴︎🆄︎🅽︎🅸︎🅾︎🅽︎ N°003/2024</h3>
                <hr>
                <p>
						Cette communication tient lieu de compte-rendu de la réunion qui s’est tenue le Dimanche 24 Mars 2024 à la station Engen (St Georges) dès 17h05.
Étaient présents :
- EDOU Teddy (Président)
- MEBA ONDO Kévin (S.G.)
- EBANG Marius Trésor (Chargé des activités sportives)
- OYONO NGOUA Crépin 
- MEDZA Ariane 
- ESSONO ZOMO Larry Nance
- BEKA Ismaël 
- ESSONO Nancy 
La réunion objet de ce présent compte-rendu avait pour principaux objectifs de :
1. Présenter le bilan de l'ancien exercice.
2. Émettre et centraliser les perspectives.
3. Divers.
  
				</p>  
            	</div>
                	<div class="col-sm-12">
                		<div class="slide3 hi-slide3">
                			<div class="hi-prev3"></div>
                			<div class="hi-next3"></div>
						  <ul>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev24.jpg' %}" alt="premier slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev25.jpg' %}" alt="deuxieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev26.jpg' %}" alt="troisieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev27.jpg' %}" alt="quatrieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev24.jpg' %}" alt="cinquieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev25.jpg' %}" alt="sisieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev26.jpg' %}" alt="septieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev27.jpg' %}" alt="huitieme slide"></li>
						  </ul>


						  
						</div>
					</div>
				</div>
				<br /> <br /> 
            </div>
        </div>






        <div class="container">
        	<div class="row my-1" style="margin-left: 20% ;margin-right: 20%;text-align: center;">
            	<div class="col-sm-12 offset-sm-3">
                <div class="section-header">
					
					<br /> <br /> <br />
				</div>

                <h3 >ASSOCIATION ZEN YA ZOK (ZZ)🐘 🆁︎🅴︎🆄︎🅽︎🅸︎🅾︎🅽︎ N°002/2024</h3>
                <hr>
                <p>
						Cette communication tient lieu de compte-rendu de la réunion qui s’est tenue le Dimanche 17 Mars 2024 à la station Engen (St Georges) dès 16h30.
Étaient présents :
- EDOU Teddy (Président)
- MEBA ONDO Kévin (S.G.)
- CARTAGE MEWOUROU Steeve (Trésorier Général)
- ESSONE Wilfried (Responsable marqueting) 
- MEBA ONDO Charly (Responsable de la sécurité et de la discipline)
- MBA MOTO Janis Yvanna (Responsable des femmes)
- ONDO OYONO Darlys Kévin
- BIBE BI EDJO Arthur Michel 
  
				</p>  
            	</div>
                	<div class="col-sm-12">
                		<div class="slide4 hi-slide4">
                			<div class="hi-prev4"></div>
                			<div class="hi-next4"></div>
						  <ul>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev28.jpg' %}" alt="premier slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev29.jpg' %}" alt="deuxieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev30.jpg' %}" alt="troisieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev31.jpg' %}" alt="quatrieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev32.jpg' %}" alt="cinquieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev33.jpg' %}" alt="sisieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev28.jpg' %}" alt="septieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev29.jpg' %}" alt="huitieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev30.jpg' %}" alt="neuvieme slide"></li>
						  </ul>


						  
						</div>
					</div>
				</div>
				<br /> <br /> 
            </div>
        </div>




        <div class="container">
        	<div class="row my-1" style="margin-left: 20% ;margin-right: 20%;text-align: center;">
            	<div class="col-sm-12 offset-sm-3">
                <div class="section-header">
					
					<br /> <br /> <br />
				</div>

                <h3 >ASSOCIATION ZEN YA ZOK (ZZ)🐘 🆁︎🅴︎🆄︎🅽︎🅸︎🅾︎🅽︎ le samedi 04 décembre 2021</h3>
                <hr>
                <p>
						Association Zen ya Zok 🐘(ZZ) 
Une rencontre des jeunes de la structure associative Zen ya Zok (ZZ) avec certains membres du conseil des anciens s'est tenue le samedi 04 décembre 2021 à 15h30 au domicile du  Président Edou Teddy Terrence. 
Ce colloque a porté sur l'adoption d'une proposition d'ordre du jour à l'assemblée générale prochaine. 
En fait des propositions, une étude a pesé sur :
👉🏾1- L'approbation de l'acquisition d'une forêt communautaire dans la grande frondaison de Zok.
👉🏾2- La régularisation de la situation administrative des enfants et jeunes du quartier/village Mimbang Essandone en manque d'actes de naissance.

  
				</p>  
            	</div>
                	<div class="col-sm-12">
                		<div class="slide5 hi-slidep">
                			<div class="hi-prevp"></div>
                			<div class="hi-nextp"></div>
						  <ul>
						    <li><img class="d-block w-100" src="{% static 'images/clients/p1.jpg' %}" alt="premier slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/p2.jpg' %}" alt="deuxieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/p3.jpg' %}" alt="troisieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/p4.jpg' %}" alt="quatrieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/p6.jpg' %}" alt="sisieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/p7.jpg' %}" alt="septieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/p8.jpg' %}" alt="huitieme slide"></li>
						  </ul>


						  
						</div>
					</div>
				</div>
				<br /> <br /> 
            </div>
        </div>








        <div class="container">
        	<div class="row my-1" style="margin-left: 20% ;margin-right: 20%;text-align: center;">
            	<div class="col-sm-12 offset-sm-3">
                <div class="section-header">
					
					<br /> <br /> <br />
				</div>

                <h3 >ASSOCIATION ZEN YA ZOK (ZZ)🐘 🆁︎🅴︎🆄︎🅽︎🅸︎🅾︎🅽︎ N°001/2024</h3>
                <hr>
                <p>
						Cette communication tient lieu de compte-rendu de la réunion qui s’est tenue le Dimanche 24 Mars 2024 à la station Engen (St Georges) dès 17h05.
Étaient présents :
- EDOU Teddy (Président)
- MEBA ONDO Kévin (S.G.)
- EBANG Marius Trésor (Chargé des activités sportives)
- OYONO NGOUA Crépin 
- MEDZA Ariane 
- ESSONO ZOMO Larry Nance
- BEKA Ismaël 
- ESSONO Nancy 
La réunion objet de ce présent compte-rendu avait pour principaux objectifs de :
1. Présenter le bilan de l'ancien exercice.
2. Émettre et centraliser les perspectives.
3. Divers.
  
				</p>  
            	</div>
                	<div class="col-sm-12">
                		<div class="slide5 hi-slide5">
                			<div class="hi-prev5"></div>
                			<div class="hi-next5"></div>
						  <ul>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev1.jpg' %}" alt="premier slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev2.jpg' %}" alt="deuxieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev3.jpg' %}" alt="troisieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev4.jpg' %}" alt="quatrieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev5.jpg' %}" alt="cinquieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev6.jpg' %}" alt="sisieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev7.jpg' %}" alt="septieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev8.jpg' %}" alt="huitieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/ev9.jpg' %}" alt="neuvieme slide"></li>
						  </ul>


						  
						</div>
					</div>
				</div>
				<br /> <br /> 
            </div>
        </div>





 <div class="container">
        	<div class="row my-1" style="margin-left: 20% ;margin-right: 20%;text-align: center;">
            	<div class="col-sm-12 offset-sm-3">
                <div class="section-header">
					
					<br /> <br /> <br />
				</div>

                <h3 >ASSOCIATION ZEN YA ZOK (ZZ)🐘 04/08/2021</h3>
                <hr>
                <p>
						Le président et l'ensemble du bureau exécutif de l'association Zen ya Zok tiennent à remercier toutes les bonnes volontés qui ont contribuées à accompagner dignement notre frère Bertin Wilfried Meba par ailleurs Responsable des Projets dans la célébration de son hymen avec Mélyse Gninguy Dangha désormais Épouse Meba.
Il a été démontré une fois encore que lorsque les Fils de Zok sont ensemble, c'est la matérialisation d'une grande force. 
  
				</p>  
            	</div>
                	<div class="col-sm-12">
                		<div class="slidem hi-slidem">
                			<div class="hi-prevm"></div>
                			<div class="hi-nextm"></div>
						  <ul>
						    <li><img class="d-block w-100" src="{% static 'images/clients/m1.jpg' %}" alt="premier slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/m10.jpg' %}" alt="deuxieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/m3.jpg' %}" alt="troisieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/m4.jpg' %}" alt="quatrieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/m5.jpg' %}" alt="cinquieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/m8.jpg' %}" alt="huitieme slide"></li>
						    <li><img class="d-block w-100" src="{% static 'images/clients/m9.jpg' %}" alt="neuvieme slide"></li>
						  </ul>


						  
						</div>
					</div>
				</div>
				<br /> <br /> 
            </div>
        </div>



		<div class="container">
        	<div class="row my-1" style="margin-left: 20% ;margin-right: 20%;text-align: center;">
            	<div class="col-sm-12 offset-sm-3">
                <div class="section-header">
					
					<br /> <br /> <br />
				</div>

                <h3 >L'association Zen ya ZOK ( ZZ) 28/01/2021</h3>
                <hr>
                <p>
						 dans  l'union du jour (le 28/01/2021) à la page 20. 
Nous disons "Abora" au journal l'Union!
				</p>  
                  
            	</div>
                	<div class="col-sm-12">
						    <li><img class="d-block w-100" src="{% static 'images/clients/union.jpg' %}" alt="premier slide"></li>
					</div>
				</div>
				<br /> <br /> 
            </div>
        </div>



		<div class="container">
        	<div class="row my-1" style="margin-left: 20% ;margin-right: 20%;text-align: center;">
            	<div class="col-sm-12 offset-sm-3">
                <div class="section-header">
									
					<br /> <br /> <br />
				</div>

                <h3 >GABON / VIE ASSOCIATIVE : "Zen ya Zok", pour une promotion des valeurs culturelles</h3>
                <button class="welcome-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="text-decoration: none;">
                	En savoir plus
				</button>			

                <br /> <br />
                <p>
						 <iframe width="560" height="315" src="https://www.youtube.com/embed/_vUqhhlzN-E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</p>  
                  
            	<br /> <br /> 
            </div>
        </div>


<!-- Modal experience 1 -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="content" style="padding: 0px; box-sizing: border-box;">
        	<img src="{% static 'images/clients/1.jpg' %}" alt="Image" class="image col-xs-6 col-sm-12 col-lg-12 mt-3 text-sm-center" alt="" width="400" height="460">
        	<img src="{% static 'images/clients/2.jpg' %}" alt="Image" class="image col-xs-6 col-sm-12 col-lg-12 mt-3 text-sm-center" alt="" width="400" height="460">
        	<img src="{% static 'images/clients/3.jpg' %}" alt="Image" class="image col-xs-6 col-sm-12 col-lg-12 mt-3 text-sm-center" alt="" width="400" height="460">
        	<img src="{% static 'images/clients/4.jpg' %}" alt="Image" class="image col-xs-6 col-sm-12 col-lg-12 mt-3 text-sm-center" alt="" width="400" height="460">
        	<img src="{% static 'images/clients/5.jpg' %}" alt="Image" class="image col-xs-6 col-sm-12 col-lg-12 mt-3 text-sm-center" alt="" width="400" height="460">
        	<img src="{% static 'images/clients/6.jpg' %}" alt="Image" class="image col-xs-6 col-sm-12 col-lg-12 mt-3 text-sm-center" alt="" width="400" height="460">
        	<img src="{% static 'images/clients/7.jpg' %}" alt="Image" class="image col-xs-6 col-sm-12 col-lg-12 mt-3 text-sm-center" alt="" width="400" height="460">
        	<img src="{% static 'images/clients/8.jpg' %}" alt="Image" class="image col-xs-6 col-sm-12 col-lg-12 mt-3 text-sm-center" alt="" width="400" height="460">
        	<img src="{% static 'images/clients/9.jpg' %}" alt="Image" class="image col-xs-6 col-sm-12 col-lg-12 mt-3 text-sm-center" alt="" width="400" height="460">
        	<img src="{% static 'images/clients/10.jpg' %}" alt="Image" class="image col-xs-6 col-sm-12 col-lg-12 mt-3 text-sm-center" alt="" width="400" height="460">
        	<img src="{% static 'images/clients/11.jpg' %}" alt="Image" class="image col-xs-6 col-sm-12 col-lg-12 mt-3 text-sm-center" alt="" width="400" height="460">
        	<img src="{% static 'images/clients/12.jpg' %}" alt="Image" class="image col-xs-6 col-sm-12 col-lg-12 mt-3 text-sm-center" alt="" width="400" height="460">
        	<img src="{% static 'images/clients/13.jpg' %}" alt="Image" class="image col-xs-6 col-sm-12 col-lg-12 mt-3 text-sm-center" alt="" width="400" height="460">
        	<img src="{% static 'images/clients/14.jpg' %}" alt="Image" class="image col-xs-6 col-sm-12 col-lg-12 mt-3 text-sm-center" alt="" width="400" height="460">
        	<img src="{% static 'images/clients/15.jpg' %}" alt="Image" class="image col-xs-6 col-sm-12 col-lg-12 mt-3 text-sm-center" alt="" width="400" height="460">
        	<img src="{% static 'images/clients/16.jpg' %}" alt="Image" class="image col-xs-6 col-sm-12 col-lg-12 mt-3 text-sm-center" alt="" width="400" height="460">
        	<img src="{% static 'images/clients/17.jpg' %}" alt="Image" class="image col-xs-6 col-sm-12 col-lg-12 mt-3 text-sm-center" alt="" width="400" height="460">

		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" > </script > 

<script src="{% static 'js/jquery.hislide.js' %}"></script>
<script>
	$('.slide').hiSlide();
</script>
<script>
	$('.slide1').hiSlide();
</script>
<script>
	$('.slide2').hiSlide();
</script>
<script>
	$('.slide3').hiSlide();
</script>
<script>
	$('.slide4').hiSlide();
</script>
<script>
	$('.slide5').hiSlide();
</script>  
<script>
	$('.slidep').hiSlide();
</script>  

<script>
	$('.slidem').hiSlide();
</script>  

	</section><!--/.featured-cars-->
		<!--featured-cars end -->

        









		<script src="{% static 'js/jquery.js' %}"></script>
	    <script src="{% static 'js/popper.min.js' %}"></script>
        
        <!--modernizr.min.js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	    
		
		<!--bootstrap.min.js-->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
		
		<!-- bootsnav js -->
		<script src="{% static 'js/bootsnav.js' %}"></script>

		<!--owl.carousel.js-->
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

        <!--Custom JS-->
        <script src="{% static 'js/custom.js' %}"></script>
        